---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog'))
    .sort((a, b) => {
        const dateDiff = b.data.date.getTime() - a.data.date.getTime();
        if (dateDiff !== 0) return dateDiff;
        return a.id.localeCompare(b.id);
    });
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
            <h1>Index</h1>
            <ul>
                {
                    posts.map((post) => (
                           <li>
                               <a style="display: inline-block" href={`/blog/${post.id}/`}>
                                   <h4 class="title">{post.data.title}</h4>
                               </a>
                           </li>
                    ))
                }
            </ul>
		</main>
	</body>
</html>
