@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

* {
    margin: 0;
}

body {
    background-color: #f3f3f3;
    color: #333;
    font-family: 'Courier Prime', 'Courier New', monospace;
    margin: 16px;
}

a, a:visited {
    color: #333;
}

hr {
    margin: 16px 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 12px 0;
}
p {
    margin: 8px 0;
}
pre {
    padding: 12px;
}