---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, date, tags } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={title} />
	</head>

	<body>
		<main>
			<article>
				<div>
					<div>
						<div style={{
                            display: 'flex',
                            justifyContent: 'space-between',
                            alignItems: 'center',
                        }}>
                            <h1>{title}</h1>
                            <div class="date">
                                <FormattedDate date={date} />
                            </div>
                        </div>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
